 .question{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
  } 
  .answers label{
    display: block;
    margin-bottom: 10px;
  }